.vscode/
**/.dist_test
**/__pycache__
**/work_dirs
**/pretrained
**/data
segmentation/ops
batchscript-*
classification/ga4order_logs
classification/ga4order_npy
classification/wrong_classification
classification/*.png
classification/*.txt